*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ============COMMON CSS END============= */



/*======================
    HEADER PART START
======================*/
#header{
    background: rgba(53, 53, 53, 0.25);
    padding: 0;
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    z-index: 99;
}
#header .logo{
    padding: 0;
    position: relative;
    margin-left: 55px;
    z-index: 1;
}
#header .logo::after{
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) skewX(-20deg);
    background:#313131;
    width: 244px;
    height: 80px;
    border: 5px solid #010101;
    z-index: -1;
}
#header ul{}
#header ul li{}
#header ul li a{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #f1f1f1;
    padding: 15px 10px;
    text-transform: uppercase;
    transition: .5s;
    position: relative;
}
#header ul li a:hover{
    background: #fff;
    color: #222222;
}
#header ul li a::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: #e23e38;
    transition: .4s;
}
#header ul li a:hover::after{
    width: 100%;
}
/*======================
    HEADER PART START
======================*/










/*======================
    SLIDER PART START
======================*/
#slider{}
#slider .bg_image_one{
    background:linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)), url(../images/slider.png) no-repeat center;
    background-size: cover;
}
#slider .bg_image_two{
    background:linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)), url(../images/slider_2.png) no-repeat center;
    background-size: cover;
}
#slider .bg_image_three{
    background:linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)), url(../images/slider_3.png) no-repeat center;
    background-size: cover;
}
#slider .slider_item{
    padding: 255px 0 115px 0;
}
#slider .slider_item .text{
    text-align: center;
}
#slider .slider_item .mar_left{
    text-align: left;
}
#slider .slider_item .text .h2{
    margin-bottom: 0;
    font-size: 0;
    line-height: 0;
}
#slider .slider_item .text .h2 h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
}
#slider .slider_item .text .h2 h2::after {
    position: absolute;
    content: '';
    left: -197px;
    top: 53%;
    transform: translateY(-50%);
    width: 168px;
    height: 3px;
    background: #e23e38;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 3% 100%);
}
#slider .slider_item .text .h2 h2::before{
    position: absolute;
    content: '';
    right: -195px;
    top: 60%;
    transform: translateY(-50%);
    width: 113px;
    height: 3px;
    background: #e23e38;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}
#slider .slider_item .text .h1{
    margin-bottom: 0;
    font-size: 0;
    line-height: 0;
}
#slider .slider_item .text h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 30px;
    color: #e23e38;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}
#slider .slider_item .text .h1 h1::before {
    position: absolute;
    content: '';
    right: -136px;
    top: 181%;
    transform: translateY(-50%);
    width: 3px;
    height: 195px;
    background: #e23e38;
    clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
}
#slider .slider_item .text .h1 h1::after {
    position: absolute;
    content: '';
    left: -136px;
    top: 177%;
    transform: translateY(-50%);
    width: 3px;
    height: 195px;
    background: #e23e38;
}
#slider .slider_item .text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #dddddd;
    width: 525px;
    margin: auto;
}
#slider .slider_item .text .mar{
    margin: 0;
}
#slider .slider_item .text .btn{
    padding: 0;
    margin-top: 30px;
}
#slider .slider_item .text .btn{
    position: relative;
}
#slider .slider_item .text .btn::after{
    position: absolute;
    content: '';
    right: -160px;
    top: 50%;
    transform: translateY(-50%);
    width: 46px;
    height: 3px;
    background: #e23e38;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
}
#slider .slider_item .text .btn::before{
    position: absolute;
    content: '';
    left: -160px;
    top: 50%;
    transform: translateY(-50%);
    width: 74px;
    height: 3px;
    background: #e23e38;
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
}
#slider .slider_item .text .btn a{
    text-decoration: none;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #f1f1f1;
    padding: 10px 20px;
    transition: .4s;
    margin-right: 30px;
}
#slider .slider_item .text .btn a:last-child{
    margin-right: 0;
}
#slider .slider_item .text .btn a:hover{
    background: #e23e38;
    border: 1px solid #e23e38;
    color: #fff;
}
/* =========OTHERS PART========= */
#slider .slick-dots{
    text-align: center;
}
#slider .slick-dots li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
#slider .slick-dots li button{
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
}
#slider .slick-dots .slick-active button{
    background: #e23e38;
    border: 2px solid #e23e38;
}
#slider .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    margin-bottom: 0;
}
#slider .slider_item .mar_left .h2 h2::after{
    display: none;
}
#slider .slider_item .mar_left .h2 h2::before{
    display: none;
}
#slider .slider_item .mar_left .h1 h1::before{
    display: none;
}
#slider .slider_item .mar_left .h1 h1::after{
    display: none;
}
#slider .slider_item .mar_left .btn::after{
    display: none;
}
#slider .slider_item .mar_left .btn::before{
    display: none;
}
/*======================
    SLIDER PART END
======================*/




/*======================
    ABOUT PART START
======================*/
#about_part{
    padding-top: 80px;
}
#about_part .videos{
    background: url(../images/about_img.png) no-repeat center;
    background-size: cover;
    padding: 150px 0;
    position: relative;
}
#about_part .videos .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about_part .videos .overlay i{
    color: #e23e38;
    font-size: 48px;
}
#about_part .title{
    text-align: center;
}
#about_part .title .h3_icon h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 0;
}
#about_part .title p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    width: 520px;
    margin: 20px auto 0 auto;
}
#about_part .title_2{
    padding-top: 80px;
    text-align: center;
    margin-bottom: 30px;
}
#about_part .title_2 h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 0;
}
/*======================
    ABOUT PART END
======================*/








/*======================
    GALLERY PART START
======================*/
#gallery_part{
    background:linear-gradient(rgba(0,0,0,.80),rgba(0,0,0,.80)), url(../images/gallery_bg.png) no-repeat center;
    background-size: cover;
    padding-top: 30px;
}
#gallery_part .item{
    position: relative;
    margin-bottom: 30px;
}
#gallery_part .item:hover .overlay{
    transform: translate(-50%, -50%)scale(1);
}
#gallery_part .item img{
    width: 100%;
}
#gallery_part .item a{
    text-decoration: none;
}
#gallery_part .item .overlay{
    position: absolute;
    width: 95%;
    height: 95%;
    transform: translate(-50%, -50%)scale(0);
    background: rgba(226, 62, 56, 0.5);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(255, 255, 255, 0.8);
    transition: .4s;
}
#gallery_part .item .overlay i{
    font-size: 27px;
    color: #fff;
}
/*======================
    GALLERY PART END
======================*/





/*======================
    TEAM PART START
======================*/
#team_part{
    padding: 80px 0;
}
#team_part .title{
    text-align: center;
    margin-bottom: 70px;
}
#team_part .title h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 0;
}
#team_part .team{
}
#team_part .team .img{
    position: relative;
}
#team_part .team .img:hover .overlay{
    transform: translate(-50%, -50%)scale(1);
}
#team_part .team .img img{
    width: 100%;
}
#team_part .team .overlay{
    position: absolute;
    width: 95%;
    height: 95%;
    background: rgba(226, 62, 56, 0.50);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)scale(0);
    border: 5px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    transition: .4s;
}
#team_part .team .overlay a{
    text-decoration: none;
}
#team_part .team .overlay a i{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #dddddd;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin: 0 10px 10px 0;
    transition: .4s;
}
#team_part .team .overlay a i:hover{
    background: #fff;
    color: #1da0f2;
}
#team_part .team .text{
    text-align: center;
    border: 1px solid transparent;
    padding: 0 15px;
}
#team_part .team .text h4{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}
#team_part .team .text h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    text-transform: uppercase;
    margin-bottom: 15px;
}
#team_part .team .text .pera{
    text-align: center;
    margin-top: -70px;
    opacity: 0;
    transition: .4s;
}
#team_part .team .text .pera p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #444444;
}
#team_part .team:hover .text{
    border: 1px solid #ddd;
    transition: .4s;
}
#team_part .team:hover .text .pera{
    margin-top: 0;
    opacity: 1;
}
#team_part .team .img:hover{
    margin-top: -40px;
    transition: .4s;
}
/*======================
    TEAM PART END
======================*/








